<!DOCTYPE html>
<html>
  <head>
    <title>Introproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

  <body>
  <header>
  <h1>a</h1>
  
 
  <a class="btn btn-primary"<%= link_to 'Search', search_index_path %></a>
  

  


    


    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" <%= link_to 'Overwatch Heroes and their Pets', root_path %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container">
      <!-- Example row of columns -->
      <%= yield %>
      <hr>

      <footer>
      <div class="row">
        <div class="col-md-4">
          <h2>About us</h2>
          <p>We are a website that tells you about you're favourite OverWatch Heroes :) </p>
          <p><a class="btn btn-default" role="button"<%= link_to 'View details', about_index_path %></a></p>
        </div>
        <div class="col-md-4">
          <h2>Contact us</h2>
          <p>For any business inquiries contact me at Jontmcintosh@hotmail.com / jmcintosh45@academic.rrc.ca or at 204-770-0695</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Check out op.gg</h2>
          <p>Check out op.gg for other amazing game related content!!! </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
        <p>&copy; 2018 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
    <footer>
    </footer>
  </body>



  


</html>
